@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html, body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
  }

  main {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  header {
    margin-bottom: 36px;
  }


  header img {
    margin: 36px 122px 0 0;
    text-align: left;
  }

 header a {
   margin-right: 30px;
   color: #111111 ;
 }

 header a:hover {
   font-weight: bold;
 }

 .principal {
   display: grid;
   grid-template-columns: 1fr 1fr;
   background-color: #FBDFDB;
   width: 940px;
   border-radius: 30px;
 }

 .principal .texto {
   margin: 117px 60px 117px 60px;
 }

 .principal .texto h1 {

  font-size: 32px;
  line-height: 42px;
  color: #111111;
  margin-bottom: 10px;
 }

 .principal .texto p {
   
  opacity: 0.7;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
 }

 .principal img {
  margin: 67px 50px 0 150px;
 }

 h2 {
   margin: 50px 0 20px 0;
 }

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card img {
  width: 300px;
  border-radius: 15px;
}

.card h3 {
  font-size: 18px;
  color: #111111;
  margin-top: 20px;
}
.card p {
  font-size: 14px;
  color: #777777;
  margin-top: 5px;

}

.psobre {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.h2s {
  font-size: 20px;
color: #111111;
}



  footer {
    margin-top: auto;
    text-align: center;
    width: 100%;
    background: #EEEEEE;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
  }