@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    height: 85vh;
    margin: 0;
}

body {
    background-color: #7159C1;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

header {
    padding: 30px;  
}


header .links  {
    text-align: center;
}

.links a {
    margin: 0 30px;
    font-size: 28px;
    line-height: 38px;
    text-decoration: none;
    color: white;
}

.links a:hover {
    opacity: 0.7;
    text-decoration: underline;
    transition: 200ms;
}

.content {
    background-color: white;
    text-align: center;
    padding: 60px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .content .img {
      margin-top: 10vh;
  }

.content img {
    border-radius: 50%;
    height: 250px;
    border: 3px solid #7159C1;
}

.content h1 {
    font-weight: bold;
    font-size: 38px;
}

.content .tec {
    margin-top: 10vh;

}

.content .tec ul li {
    list-style: none;
    text-align: center;
    font-size: 28px;
    margin-top: 15px;
}



.footer {
  height: 200px;
  background-color: #7159C1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 30px;

}

.footer a:hover {
    opacity: 0.8;
    transition: 200ms;
}