{% extends "layout.njk"%}

{%block head%}
<title>Desafio - Sobre</title>
{%endblock%}


{% block content %} 




    <div class="content">
        <div class="img">
            <img src="https://scontent.fcgh17-1.fna.fbcdn.net/v/t1.0-9/104169738_687672685112542_1468337677738709328_n.png?_nc_cat=1&_nc_sid=85a577&_nc_ohc=uQ7d6zwx5sAAX-jiXEp&_nc_ht=scontent.fcgh17-1.fna&oh=504df44320211dc4cd04c4db4d9add8d&oe=5F37FC73" alt="">
            <h1>Rocketseat</h1>
            <h3>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h3>
        </div>

        <div class="tec">
            <h1>  Principais tecnologias</h1>
            <ul>
                <li> <i class="fab fa-js-square"></i> Javascript</li>
                <li> <i class="fab fa-js-square"></i> Javascript ES6+</li>
                <li> <i class="fab fa-node-js"></i> NodeJS</li>
                <li> <i class="fab fa-react"></i> ReactJS</li>
                <li> <i class="fab fa-react"></i> React Native </li>

            </ul>
        </div>

    </div>

    <footer class="footer">
        <a href="https://github.com/Rocketseat" target="_blank"> <i class="fab fa-github"></i> Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank"> <i class="fab fa-instagram"></i> Instagram</a>
        <a href=" https://www.facebook.com/rocketseat " target="_blank"> <i class="fab fa-facebook" ></i> Facebook</a>
    </footer>

{% endblock %}