{% extends "layout.njk"%}



    {%block head%}
    <title>ERRO 404</title>
    {%endblock%}

    
    {% block content %} 

    <div class="img-404">
        <img src="/img/not_found.svg" alt="">
        <h2>Ops... Algo deu errado!!</h2>
    </div>

    {% endblock %}